.depliant {
	width: 80%;
	text-align: center;
	margin: auto;
}

.depliant1 {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.btn_depliant {
	background-color: #ff6060;
	color: white;
	border-radius: 5px;
	border: 1px solid #ff6060;
	width: 100%;
	height: 50px;
	position: relative;
	z-index: 30;
	font-size: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 400ms;
	padding: 15px;
    margin:0px;
}

.depliant_text,
.depliant_text2,
.depliant_text3,
.depliant_text4 {
	background-color: #f7f7f7;
	color: #ff6060;
	width: 100%;
	position: relative;
	margin: 0px;
	transition: 400ms;
}

.depliant_text p,
.depliant_text2 p,
.depliant_text3 p,
.depliant_text4 p {
	margin: 0px;
	font-size: 20px;
	padding: 15px;
}

.depliant .arrow,
.arrow2,
.arrow3,
.arrow4 {
	width: 25px;
	height: 25px;
	transition: 400ms;
}

.btn_depliant {
	font-size: 16px;
  }
  
  .depliant .arrow, .arrow2, .arrow3, .arrow4 {
	width: 16px;
	height: 16px;
  }