.description {
	width: 30vw;
	position: relative;
	overflow: hidden;
}

.btnMoreInfo {
	width: 30vw;
	padding: 10px;
	position: relative;
	top: 0%;
	z-index: 30;
	font-size: 30px;
	background-color: #ff6060;
	color: white;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ff6060;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.description .arrow {
	width: 30px;
	object-fit: contain;
	transition: 400ms ease;
}

.description_text {
	position: relative;

	top: 0%;
	z-index: 20;
	padding: 10px;

	transition: 400ms ease;
	background: #f7f7f7;
	border-radius: 5px;
	color: #ff6060;
	font-size: 25px;
	margin: 0px;
	margin-bottom:20px;
}

.description_text p {
	margin: 0px;
	padding: 15px;
}

/*Mobile*/
@media screen and (max-width: 600px){
	body .description .arrow {
		margin-left:5px;
		width: 5vw;
	}
	body .description {
		width: 100%;
		margin-bottom: 15px;
	  }
	  body .btnMoreInfo {
		width: 100%;
	  }
	  body .description_text{
		font-size: 5vw;
	  }
	

}

/*tablette*/
@media screen and (max-width: 992px){
	body .description .arrow {
		margin-left:5px;
		width: 3vw;
	}
	body .description {
		width: 100%;
		margin-bottom: 15px;
	  }
	  body .btnMoreInfo {
		width: 100%;
	  }
	  body .description_text{
		
		font-size: 3vw;
	  }
	
} 