.homeBanner{
    position:relative;
}

.homeBanner img {
	width: 100%;
	border-radius: 20px;
	filter: brightness(0.7);
	height: 223px;
	object-fit: cover;
	object-position: 42% 55%;
    margin-bottom:40px;
   
}


.textBanner{
    position:absolute;
    top:50%;left:50%;
    color: white;
    font-size: 50px;
    transform:translate(-50%,-50%);
    
    animation-name: text_load_content;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes text_load_content {
    0% {
   opacity:0;
   transform:translate(-50%,0%);
    }
 
    100% {
     opacity:1;
     transform:translate(-50%,-50%);
    }
  }