.profilBanner {
	width: 100%;
	position: relative;
	overflow:hidden;
	width: 70vw;
}

.profilBanner .elements {
	display: flex;
	width: 100%;
	transition: 1s ease;
}

.profilBanner .elements .element {
	position: relative;
	width: 100%;
}

.profilBanner .element_img {
	width: 70vw;
	height: 20vw;
	border-radius: 15px;
	object-fit: cover;
}

.chevron_gauche,
.chevron_droit {
	position: absolute;
	top: 40%;
	width: 50px;
	cursor:pointer;
}

.chevron_gauche {
	left: 2%;
}

.chevron_droit {
	right: 2%;
}

.indexion{
	position:absolute;
	font-size:30px;
	color: white;
	bottom:3%;
	left:50%;
}

/*Mobile*/
@media screen and (max-width: 600px){
	body .profilBanner .element_img {
		height: 350px;
	}
	body .chevron_gauche, body .chevron_droit {
		width: 5vw;
	}
}

/*tablette*/
@media screen and (max-width: 992px){
	.profilBanner .element_img {
		height: 40vw;
	}
	.chevron_gauche, .chevron_droit {
		width: 5vw;
	}
} 