.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:70%;
    margin:auto;
    padding: 30px;
}

.activeLink{
    text-decoration:underline!important;
   
}

.liens_header a{
    text-decoration:none;
    font-size: 25px;
    color: #FF6060;
    padding-left:30px;
}

/*Mobile*/
@media screen and (max-width: 600px){
    .header .logo img{
        width: 30vw;
    }

    body .header .liens_header a {
  padding-left: 2vw;
  font-size: 5vw;
}
}


/*tablette*/
@media screen and (max-width: 992px){
    .header .logo img{
        max-width: 200px;
    }

    .header .liens_header a {
        padding-left: 15px;
        
      }

}